ul {
    list-style-image: url('listimg/circle-bullet.gif');
  }

ul  li:hover {
    list-style-image: url('listimg/circle-bullet-hover.gif');
  }

ul li.active {
    list-style-image: url('listimg/circle-bullet-active.gif'); 
  }

  ul li  a {
   font-size: medium; 
  }


  ul li  a:hover {
    text-decoration: none; 
   }

  ul li.active a {
    color: blueviolet; font-weight: bold;
  }

  /* ul li a.current {
    list-style-image: url('listimg/circle-bullet-active.gif'); color: blueviolet;
  } */