/* =============================================== +\
|             SYNTAX HIGHLIGHTING & CODE            |
|    Styles for code blocks and inline code         |
\* =============================================== */

/* Styles the <pre> tag, which contains code blocks.*/
pre {
    border-radius: 5px;
    padding: 10px;
    color: lightgreen; /* Default text color for code. */
    background-color: #241f31; /* Dark purple/blue background. */
}

/* Sets the font and base styles for code. */
code[class*="language-"], pre[class*="language-"] {
    color: darkseagreen;
    font-family: "Dejavu Sans Mono", "Share Tech Mono", monospace;
    line-height: 1.2rem;
    font-size: 0.95rem;
}

/*
 * SYNTAX TOKENS USED IN BEE AND EVE PARSER
 * Defines colors for different parts of the code (keywords, strings, comments, etc.).
 */
.keyword { color: orange; }
.keytab { color: gold; }
.impera, .directive-hash { color: palevioletred; }
.control { color: deepskyblue; }
.interrupt, .operator { color: lightcoral; }
.type, .constant, .builtin { color: cyan; }
.title { color: springgreen; }
.subtitle { color: silver; }
.comment { color: lightseagreen; }
.comment-doc { color: #9cc7ff; }
.comment-block { color: lightseagreen; }
.comment-inline { color: #8f98a3; }
.string { color: yellow; }
