/* =============================================== +\
|          AUTHENTICATION & REGISTRATION            |
|    Used for two pages, maybe more forms next      |
\* =============================================== */

#roadmap-login-form .first-page-nav-btn,
#roadmap-register-form .first-page-nav-btn,
#roadmap-profile-form .first-page-nav-btn,
#roadmap-reset-request-form .first-page-nav-btn,
#roadmap-reset-form .first-page-nav-btn {
    width: 100%;
    max-width: 100%;
    min-width: 0;
}

#roadmap-profile-form .input-group .btn,
#roadmap-login-form .input-group .btn,
#roadmap-register-form .input-group .btn,
#roadmap-reset-form .input-group .btn {
    min-width: 44px;
}

#roadmap-login-form .form-control,
#roadmap-register-form .form-control,
#roadmap-profile-form .form-control,
#roadmap-reset-request-form .form-control,
#roadmap-reset-form .form-control {
    min-height: 44px;
}
