.custom-alphabet-table {
  border-color: #495057 !important;
}

.custom-alphabet-table th,
.custom-alphabet-table td {
  padding: 1rem 1.25rem;
  border: 1px solid #495057 !important;
  vertical-align: middle;
}