/* =============================================== +\
|             GLOBAL UI & TYPOGRAPHY                |
|     common cards,  shared among multiple pages    |
\* =============================================== */

/* Utility class for a generic panel heading. */
.panel-heading {
    background-color: #19334d; /* Dark blue background. */
    color: silver;
    padding: 10px;
    margin-top: 10px !important;
    border-radius: 5px 5px 0px 0px; /* Rounded top corners. */
}


/*
 * CARD STYLES
 * A "slate" is a custom card component.
 */
.card-slate {
    background-color: #1a1a1a; /* Very dark gray, almost black. */
    border: 1px solid #333; /* Subtle border. */
    border-radius: 5px;
    transition: 0.3s;
    height: 100%; /* Ensures cards in a row have the same height. */
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}



/* Standard padding for the body of a card. */
.card-body {
    padding: 1rem !important;
}


/* Card titles, overriding Bootstrap defaults. */
.card-title {
    font-family: Roboto, Tahoma, Verdana, Sans-Serif;
    color: rgb(117, 204, 241) !important; /* Light blue color. */
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 10px;
}


/* Justified text alignment for card content. */
.card-text-justified {
    font-size: 0.95rem;
    color: #e2dfd1;
    text-align: justify;
    margin: 0;
}

/* A grid layout for step-by-step guides or feature lists. */
.card-grid-steps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    row-gap: 5px;
    column-gap: 10px;
    padding: 5px 0;
    width: 100%;
}


